$C-negro: #1D1D1B;
$C-blanco: #FFFFFF;
$C-gris: #fafafa;
$C-rojo: #FF347D;
$C-celeste: #41C0F6;
$C-amarillo: #FFCC18;

/* SECCIÓN BLOG / CARDS */

.container .contenedor-blog {
    padding:60px 0;
    background: $C-gris;
    color: $C-negro;
}

.container .contenedor-blog .titulo {
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
    color: $C-celeste;
}

.container .contenedor-blog .card-blog {
    margin: 40px 30px;
    border-radius: 10px + 10;
    background-color: $C-blanco;
    box-shadow: -3px 5px 20px 5px rgba(222, 222, 222, 0.2);
}

.container .contenedor-blog .card-blog .imagen {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 140px;
}

.container .contenedor-blog .card-blog .sub-titulo {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px + 11;
    font-weight: 800;
    color: $C-rojo;
}

.container .contenedor-blog .card-blog .texto {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0 16px;
    margin: 15px 0;
}

.container .contenedor-blog .card-blog .subTitulo {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px + 12;
    font-weight: 600;
    color: $C-rojo;
}

.container .contenedor-blog .cta-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto;
    width: 191px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 50px;
    background-color: $C-celeste;
    color: $C-blanco;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1.2em;
    position: relative;
}

.container .contenedor-blog .cta-blog:hover {
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}